header {
  overflow: hidden;
  display: flex;
  height: 100px;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #008b8b;
  background: #483d8b;
  text-align: center;
}
#tituloPrincipal {
  color: aliceblue;
}
